PORT=1781
CORS_ORIGIN =*
MONGODB_URI=mongodb+srv://tusharsingh1705_db_user:Tushar1@cluster0.8sd6zlf.mongodb.net 
ACCESS_TOKEN_SECRET=HKUY8TYV8VD6V5DD790lkgyhtrc56ecik879p20bdndbdbkvder6vd63vd32o2902pvdgVBID9bw9b
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=HKUY8TYV8VD6V5DD7LN89090lkgyhtrc56e0IMY82SByytuNJPcik879p20bdndbdbkvder6vd63
REFRESH_TOKEN_EXPIRY=10d